body{
    background-color: #cdffeb;
    font-family: 'Indie Flower', cursive;
}

h1{
  font-family: 'Dancing Script', cursive;
}

a{
  font-family: 'Indie Flower', cursive;
  color:#cdffeb;
}

.top-container
{
    text-align: center;
    position: relative;
    margin-top: 100px;
}

.middle-container
{
  text-align: center;
}

.bottom-container
{
  text-align: center;
}

.carousel-item
{
  padding:0;
}

.control 
{
  color:  #66BFBF;
}

.description
{
  width:100%;
}
.machine
{
  width: 20%;
  padding-bottom: 20px;
}

.map
{
  width: 20%;
  padding-bottom: 20px;
}

.Othello-img
{
  width: 20%;
  padding-bottom: 20px;
}

.footer
{
  text-align: center;
  background-color: #66BFBF;
}

.footer-link{
  font-size: 1.5em;
  color:#cdffeb;
}

.trademark
{
    color:#EAF6F6
}

/* Navigation Bar */
.navbar
{
    background-color: #66BFBF;
}

.nav-item
{
    font-size: 1.5rem;
    font-weight: bold;
}