body{
    margin:0;
    text-align: center;
    position: relative;
    font-family: 'Shadows Into Light', cursive;
    background-color: #cdffeb;
}

hr{
    border: dotted #66BFBF 6px;
    border-bottom: 0;
    width: 3%;
}

.intro{
    margin: 0 auto;
    width: 35%;
    text-align: center;

}

h1{
    margin: 50px auto 0 auto;
    font-family: 'Dancing Script', cursive;
    font-size: 5.625rem;
    color: #66BFBF
}

h2{
    font-family: 'Indie Flower', cursive;
    color: #66BFBF;
    font-weight: normal;
    font-size: 2.5em;
}

h3{
    font-family: 'Indie Flower', cursive;
    color: #11999E;
}

p{
    font-family: 'Indie Flower', cursive;
}

a{
    font-family: 'Indie Flower', cursive;
    color:#cdffeb;;
}

.programmer{
    font-family: 'Indie Flower', cursive;
    color: #66BFBF;
    font-weight: normal;
    font-size: 2.5rem;
}

.top-container{
    background-color: #cdffeb;
    position: relative;
    padding-top: 100px
}

.middle-container{
    background-color: #cdffeb;
    text-align: center;
}

.bottom-container{
    background-color: #66BFBF;
}

.contact-me{
    line-height: 2;
}

.Pro{
    text-decoration: underline;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    top: 400px;
}

.top-cloud{
    margin-top: 30px;
    position: absolute;
    right: 300px;
    top: 50px;
    
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    line-height: 2;
}

.computer-image{
    width: 25%;
    float: left;
    padding-right: 30px;
}

.python{
    width: 25%;
    float: left;
    padding-right: 30px;
}

.Web-Development {
    width: 25%;
    float:left;
    padding-right: 30px;
}

.profile-picture{
    width: 20%;
    padding-top: 50px;
    padding-bottom: 50px;

}

.footer-link{
    font-size: 1.5em;
    color:#cdffeb;
}
.trademark
{
    color:#EAF6F6
}


/* Navigation Bar */
.navbar
{
    background-color: #66BFBF;
}

.nav-item
{
    font-size: 1.5rem;
    font-weight: bold;
}


.butn {
    background: #66BFBF;
    background-image: -webkit-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: -moz-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: -ms-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: -o-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: linear-gradient(to bottom, #66BFBF, #66BFBF);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .butn:hover {
    background: #66BFBF;
    background-image: -webkit-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: -moz-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: -ms-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: -o-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: linear-gradient(to bottom, #66BFBF, #66BFBF);
    text-decoration: none;
  }
