body{
    background-color: #cdffeb;
    font-family: 'Indie Flower', cursive;
}

h1{
  font-family: 'Dancing Script', cursive;
}

a{
  font-family: 'Indie Flower', cursive;
  color:#cdffeb;
}

.top-container
{
    text-align: center;
    position: relative;
    margin-top: 100px;
}

.middle-container
{
  text-align: center;
  line-height: 1.5;
}

.bottom-container
{
  text-align: center;
}

.media
{
  text-align: center;
  line-height: 2;
  width: 100%;
}

.Program
{
  
  width:50%;
}


.machine
{
  width: 60%;
  padding-bottom: 20px;
  padding-left: 100px;
}

.map
{
  width: 60%;
  padding-bottom: 20px;
  padding-left: 100px;
}

.briefcase
{
  width: 20%;
}

.Othello-img
{
  width: 60%;
  padding-bottom: 20px;
  padding-left: 100px;
}

.footer
{
  text-align: center;
  background-color: #66BFBF;
}

.footer-link{
  font-size: 1.5em;
  color:#cdffeb;
}

.trademark
{
    color:#EAF6F6
}

/* Navigation Bar */
.navbar
{
    background-color: #66BFBF;
}

.nav-item
{
    font-size: 1.5rem;
    font-weight: bold;
}