body{
    margin:0;
    text-align: center;
    position: relative;
    font-family: 'Shadows Into Light', cursive;
    background-color: #cdffeb;
}

hr{
    border: dotted #66BFBF 6px;
    border-bottom: 0;
    width: 3%;
}


h1{
    margin: 50px auto 0 auto;
    font-family: 'Dancing Script', cursive;
    font-size: 5.625rem;
    color: #66BFBF
}


h2{
    font-family: 'Indie Flower', cursive;
    color: #66BFBF;
    font-weight: bold;
    font-size: 3em;
}


a{
    font-family: 'Indie Flower', cursive;
    color:#cdffeb;;
}






/* Navigation Bar */
.navbar
{
    background-color: #66BFBF;
}

.nav-item
{
    font-size: 1.5rem;
    font-weight: bold;
}

/* Heading of website */
.top-container{
    background-color: #cdffeb;
    position: relative;
    padding-top: 100px
}

.top-cloud{
    position: absolute;
    right: 150px;
}
.programmer{
    font-family: 'Indie Flower', cursive;
    color: #66BFBF;
    font-weight: normal;
    font-size: 2.5rem;
}

.profile
{
    padding:0
}


/*hello section */
.middle-container{
    background-color: #cdffeb;
    text-align: center;
}

.intro{
    margin: 0 auto;
    width: 35%;
    text-align: center;
    color: #11999E;
}

/* SKills Section */

.skills
{
    padding: 5%;
}

.header
{
    padding: 5%;
    font-weight: bold;
    font-family: 'Indie Flower', cursive;
    color: #11999E;
}
.header:hover
{
    color: #66bfbe;
}

.skill-description
{
    color: #11999E;
    font-weight: 500;
}
.computer-image{
    padding-right: 30px;
}

.python{
    padding-right: 30px;
}

.Web-Development {
    padding-right: 30px;
}


.contact-me{
    line-height: 2;
}

.contact-header
{
    padding: 5%;
    font-family: 'Indie Flower', cursive;
    color: #11999E;
}


/* Footer of the Website */
.bottom-container{
    background-color: #66BFBF;
}

.footer-link{
    font-size: 1.5em;
    color:#cdffeb;
}
.trademark
{
    color:#EAF6F6
}




.butn {
    background: #66BFBF;
    background-image: -webkit-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: -moz-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: -ms-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: -o-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: linear-gradient(to bottom, #66BFBF, #66BFBF);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .butn:hover {
    background: #66BFBF;
    background-image: -webkit-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: -moz-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: -ms-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: -o-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: linear-gradient(bottom, #66BFBF, #66BFBF);
    text-decoration: none;
  }
