body{
    background-color: #cdffeb;
    font-family: 'Dancing Script', cursive;
    text-align: center;
}

hr{
    border: dotted #66BFBF 6px;
    border-bottom: 0;
    width: 3%;
}


a{
    font-family: 'Indie Flower', cursive;
    color:#cdffeb;
}

ul
{
    list-style: none;
}

.title
{
    text-align: left;
    text-decoration: underline;
    color:#66BFBF;
    font-weight: bold;
    padding: 2%;
}

.top-container{
    text-align: center;
    position: relative;
    padding-top: 60px;
}

.bottom-container
{
    background-color: #66BFBF;
}

.work-experience
{
    font-family: 'Indie Flower', cursive;
    text-align: left;
    width: 80%;
    margin: 50px auto;
    line-height: 2.5;
}

.education
{
    text-align: justify;
    padding-left:0;
    padding-top: 2%;
    width: 50%
}

.edu{
    padding:0;
}

.MSU
{
    font-weight: bold;
    padding-top: 5%;
    list-style-type: none;
}

.SCSU
{
    font-weight: bold;
    padding-top: 5%;
    list-style: none;
    
}

.footer-link{
    font-size: 1.5em;
    color:#cdffeb;
}

.trademark
{
    color:#EAF6F6
}

/* Navigation Bar */
.navbar
{
    background-color: #66BFBF;
}

.nav-item
{
    font-size: 1.5rem;
    font-weight: bold;
}